<template>
  <div>
      <button @click="increaseNumber()">Increase the number</button>
      <h1>{{number}}</h1>
      <button @click="decreaseNumber()">Decrease the number</button>
  </div>
</template>

<script>
export default {
    data(){
        return{
            number : 0,
        }
    },
    methods : {
        increaseNumber(){
            this.number= this.number+1
        },
        decreaseNumber(){
            this.number = this.number-1
        }
    }
};
</script>

<style scoped>
</style>