<template>
  <div>
      <h1>Summary</h1>
      <h2>Total: {{totalPrice}}</h2>
      <h2>Total Product: {{totalProduct}}</h2>
  </div>
</template>

<script>
export default {
  props: {
    totalPrice: Number,
    totalProduct: Number,
  }

}
</script>

<style>

</style>