<template>
  <div>
      <h1>Your cart is empty!</h1>
      <nuxt-link to="/"><button>Go to home page</button></nuxt-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>