<template>
  <div>
    <div>
      <label>Question:</label>
      <input v-model="tempQuestion" type="text" />
      <label>Answer:</label>
      <input v-model="tempAnswer" type="text" />
      <button @click="submitForm()">Submit</button>
    </div>
    <div v-for="item in cards" :key="item.id">
      <div @click="hideOrShow(item)">
        <h1>{{ item.question }}</h1>
      </div>
      <div v-show="item.seen">
        <h2>{{ item.answer }}</h2>
      </div>
    </div>

    <h1>{{ cards }}</h1>
    <h1>{{ cards.length }}</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tempQuestion: "",
      tempAnswer: "",
      cards: [],
    };
  },
  methods: {
    submitForm() {
      this.cards.push({
        id: this.cards.length + 1,
        question: this.tempQuestion,
        answer: this.tempAnswer,
        seen: false,
      });
      this.tempQuestion = "";
      this.tempAnswer = "";
    },
    hideOrShow(item) {
      item.seen = !item.seen;
    },
  },
};
</script>

<style scoped>
</style>