<template>
  <form>
    <label>Write your text:</label>
    <input v-model="message" />
    <p>Text is: {{ message }}</p>
  </form>
</template>

<script>
export default {
    data() {
        return {
            message:null,
        }
    }
};
</script>

<style scoped>
</style>