<template>
    <div>
        <div>
            <label>Email:</label>
            <input v-model="tempEmail" type="text">
            <label>Message:</label>
            <input v-model="tempMessage" type="text">
            <button @click="submitForm()">Add new message</button>
        </div>
        <div v-for="i in ledgerBook" :key="i.id">
            <h1>Email : {{i.email}}</h1>
            <h1>Message: {{i.message}}</h1>
        </div>
    </div>
  
</template>

<script>

export default {
    data(){
        return {
            tempEmail: "",
            tempMessage:"",
            tempContent:{}
        }
    },
    methods:{
        submitForm(){
            this.tempContent = {
                email :this.tempEmail,
                message:this.tempMessage,
            };
            this.$store.dispatch("ledgerBook/newContent",this.tempContent)
            this.tempEmail = ""
            this.tempMessage = ""
        },
    },
    computed:{
        ledgerBook(){
            return this.$store.state.ledgerBook.ledgerBook
        },
        

    },
    created(){
        
    },
    mounted(){
        this.$store.dispatch("ledgerBook/setContent")
    }

}
</script>

<style scoped>

</style>