<template>
    <div>
        <div>
            <nuxt-link to="/cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></nuxt-link>
            
            <span>{{totalProduct}}</span>
        </div>
        <div v-for="product in products" :key="product.id">
            <h1>{{product.name}}</h1>
            <h1>{{product.desc}}</h1>
            <h2>{{product.price}}</h2>
            <h2>{{product._id}}</h2>
            <button @click="addToCart(product._id)">Add to Cart</button>
            <button @click="removeFromCart(product._id)">remove from Cart</button>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    },
    methods:{
        addToCart(id){
            this.$store.dispatch("shoppingCart/addToCart",id)
        },
        removeFromCart(id){
            this.$store.dispatch("shoppingCart/removeFromCart",id)
        },
    },
    computed:{
        products(){
            return this.$store.state.shoppingCart.products;
        },
        cartItemsCount(){
            return this.$store.state.shoppingCart.cartItemsCount;
        },
        cart(){
            return this.$store.state.shoppingCart.cart
        },
        totalProduct(){
            let count = 0;
            this.$store.state.shoppingCart.cart.map(i => {
                count += i["quantity"]
            });
            return count
        }
    },
    created(){
    },
    mounted(){
        this.$store.dispatch("shoppingCart/setProducts")
        this.$store.dispatch("shoppingCart/getCart")
    },

}
</script>

<style scoped>

</style>