<template>
    <div>
        <ul v-for="i in toDos" :key="i.id">
            <li>
                <h1>{{i.name}}</h1>
            </li>
        </ul>
        <h1>{{toDos}}</h1>
        <h1>{{count}}</h1>
        <button @click="increment">Increment</button>
    </div>
  
</template>

<script>
export default {
    computed:{
        toDos(){
            //return this.$store.state.shoppingCart.todos;
            return this.$store.getters["shoppingCart/todos"];
        },
        count(){
            return this.$store.getters["shoppingCart/count"];
        }
    },
    methods:{
        increment(){
            this.$store.commit("shoppingCart/increment");
        }
    }

}
</script>

<style scoped>

</style>