<template>
  <div>

      <h1>CART</h1>
      {{cart}}
    <!---  <div v-if="totalPrice != 0"> ---->
        <cart-summary v-bind:totalPrice= "totalPrice" v-bind:totalProduct="totalProduct"/>
        <div v-for="item in cart" :key="item.id">
            <h1>{{item.items.name}}</h1>
            <h2>{{item.items.price}}</h2>
            <h2>{{item.quantity}}</h2>
            <button @click="addItem(item.items._id)">Increase Quantity</button>
            <button @click="removeItem(item.items._id)">Decrease Quantity</button>
        </div>
        <button @click="clearProducts">Clear all products</button>
        <nuxt-link to="/"><button>Go to home page</button></nuxt-link>
    <!----  </div>
      
      <empty-cart v-else/> --->
    
  </div>
</template>

<script>
import emptyCart from '../components/emptyCart.vue';
import cartSummary from '../components/cartSummary.vue';
export default {
    components: {
        emptyCart,
        cartSummary,
    },
    computed:{
        cart(){
            return this.$store.state.shoppingCart.cart
        },
        totalPrice(){
            let price = 0;
            this.$store.state.shoppingCart.cart.map(i => {
                price +=i["items"]["price"] * i["quantity"];
            });
            return price;
        },
        totalProduct(){
            let count = 0;
            this.$store.state.shoppingCart.cart.map(i => {
                count += i["quantity"]
            });
            return count
        }
    },
    methods: {
        addItem(id){
            this.$store.dispatch("shoppingCart/addToCart",id)
        },
        removeItem(id){
            this.$store.dispatch("shoppingCart/removeFromCart",id)
        },
        clearProducts(){
            this.$store.dispatch("shoppingCart/clearProducts")
        }
    },
    mounted(){
        this.$store.dispatch("shoppingCart/getCart")
    }

}
</script>

<style scoped>

</style>