<template>
  <div>
    <inputEchoer/>
    <basic-counter/>
    <flash-cards/>
    <shopping-cart/>
    <ledger-book/>
    <script src="https://use.fontawesome.com/78eb48b91e.js"></script>
  </div>
  
</template>


<script>
import inputEchoer from '../components/inputEchoer.vue';
import basicCounter from '../components/basicCounter.vue';
import FlashCards from '../components/flashCards.vue';
import shoppingCart from '../components/shoppingCart.vue';
import ledgerBook from '../components/ledgerBook.vue'

export default {
  components: { 
    inputEchoer,
    basicCounter,
    FlashCards,
    shoppingCart,
    ledgerBook,
  },
};
</script>
